body{
    width:100%;
    height: 100vh;
    margin: 0 auto;
    background: #D9FB85;
    color:#BFBFBF;
}
fieldset{
    background: #64801D;
    opacity: 0.3;
}
.etiqueta{
    display:block;
    margin:0.5rem 0;
    opacity:1;
}