body{
    width:100%;
    height: 100vh;
    margin: 0 auto;
    background: black url(../imágenes/patrones.jpg);
    background-attachment: fixed;
    background-size: 400px 10px;
    color:#BFBFBF;
}
fieldset{
    background: #10403B;
}
.etiqueta{
    display:block;
    margin:0.5rem 0;

}