*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    height: 80px;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 10;
    transition: 0.7s;
}
.nav{
    display: flex;
    justify-content: space-between;
    
    max-width: 992px;
    margin: 0 auto;
}
.nav-link{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.logo{
    font-size: 40px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
    transition: 1.5s;
    text-shadow: 2px 2px 2px rgb(0,0,0);    
}
.logo:hover{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(255, 128, 0);
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 18px;
    margin: 0 20px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
    transition: 0.7s;
}
.nav-menu-link{
    padding: 8px 12px;
    transition: 0.5s;
}
.nav-menu-link:hover{
    text-shadow: 2px 2px #999999;
    color: #f5f5f5; 
}
.nav-toggle{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0,0,0);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;

    display: none;
}
.abajo{
    background: linear-gradient(to left,rgba(255,255,255,1) 10%,rgba(255,255,255,.75) 30%,rgba(255,255,255,0.6) 50%,rgba(255,255,255,0)70%);
}
.abajo .logo,
.abajo .nav-menu-link{
    color: rgb(255, 128, 0);
}
.abajo .logo{
    text-shadow: 2px 2px 2px rgb(36, 34, 34);
}
.abajo .nav-menu-link{
    text-transform: uppercase;
}
.abajo .nav-toggle{
    color: rgb(255, 128, 0);
}

.principal{
    align-items: center;
    justify-content: center;
    padding: 90px 0;
}
.principal .card{
    border: none;
}
.carousel-p{
    
    border-radius: 15px 30px 70px 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.carousel-caption p{
    text-shadow: 0px 1px 3px rgb(255, 255, 255);
}
.carousel-caption h5{
    text-shadow: 0px 0px 3px rgb(255, 255, 255);
}
main{
    background: linear-gradient(45deg,rgb(0,0,0),rgb(53, 52, 52),rgb(0,0,0));
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5%;
    display: block;
    margin: auto;
    
}
.container{
    width: fit-content;
    color: rgb(0,0,0);
    padding:20px;
    margin: 0 auto;
}
.footer{
    width: 100%;
    max-width: 100%;
    padding: 3rem 1rem;
    background-color: rgb(0,0,0);
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media (max-width: 330px) {
    a.logo.nav-link{
        font-size: 15px;
    }
    .footer #map{
        max-width: 200px;
    }
    .footer{
        padding: 2px 2px;
    }
}
@media (max-width: 400px){
    .footer{
        padding: 5px 5px;
    }
    .footer #map{
        width: 200px;
    }
}
@media (max-width: 600px){
    .footer #map{
        margin: 10px auto;
        position: static;
        justify-content: center;
        align-items: center;
        width: 350px;
    }
}

.brands-websites, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.brand-icon{
    height:50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid grey;
    background-image: url(../imágenes/motorcycle.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.brand-icon:hover{
    background-color: black;
    filter: invert(1);
}
.brand-icon:nth-of-type(2){
    background-image:url(#);
}
.brand-icon:nth-of-type(3){
    background-image:url(#);
}
.footer-menu-container{
    list-style-type: none;
    color: whitesmoke;
    font-size: 10px;
}
.menu-item{
    margin: 2rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}
.menu-item:hover{
    opacity: 1;
}
.copyright{
    color: whitesmoke;
    opacity: 0.3;
    text-align: center;
}

.usuarios {
    padding: 90px 20px 0;
    margin: 0;
    height: 50px;
    width: 50px;
}
#text_footer{
    color: white;
}
#map{
    height: 400px;
    width: 500px;
}

@media (max-width: 950px){
    .header{
        height: 60px;
    }
    .logo{
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    .nav-menu{
        flex-direction: column;
        align-items: flex-end;
        background-color: rgb(0,0,0);
        opacity: 0.8;
        position: fixed;
        border-radius: 10px;
        top: 60px;
        padding: 10px 0px;
        overflow-y: auto;
        right: -100%;
        transition: right 0.4s;
    }
    .nav-menu-item{
        line-height: 60px;        
    }
    .nav-menu-link{
        font-family: 'Courier New', Courier, monospace;
    }
    a.nav-menu-link.nav-link{
        color: #FFFFFF;
    }
    .abajo a.nav-menu-link.nav-link{
        color: #ff8000;
    }
    .nav-menu-link:hover{
        background: none;
        transition: 0.5s;
    }
    .abajo{
        padding: 0 20px;
        line-height: 60px;
    }
    
    .nav-toggle{
        display: block;
    }
    .nav-menu_visible{
        right: -5%;
    }
    form{
        display: contents;
    }
    label{
        padding: auto;
        margin: 0 auto;
        display: flexbox;
        align-items: center;
    }
    input{
        margin: 20px;
        align-items: center;
    }
}
@media (max-width: 600px){
    .nav-menu_visible{
        right: -10%;
    }
}